:root{
    --cyan-color: #62D0DF;
    --title-color: #22356F; 
    --white-color: #ffffff;
    --black-color: #000000;
    --button-color: #F9B640;
}

body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}
h1,h2,h3,h4,h5,p{
    margin-top: 0;
    margin-bottom: 0;
}

.container{
    width: 1470px;
    /* padding-left: 15px;
    padding-right: 15px; */
    margin-left: auto;
    margin-right: auto;
}

/* Header */

header{
    background: #F4F9E2;
    height: 900px;
}

.header-list{
    display: flex;
    padding-top: 30px;
    align-items: center;
    padding-left: 0;
}

.header-word{
    color: var(--cyan-color);
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: -0.035em;
}

.tab-list{
    display: flex;
    margin-left: 400px;
}

.header-list-item{
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 16px;
    color: var(--title-color);
}

.header-list-item:not(:first-child){
    margin-left: 40px;
}

.header-list-item:hover{
    /* color: var(--button-color); */
    transform: scale(1.25);
    /* transition: transform scale(1.25) 3s; */
    border-bottom: 2px solid var(--black-color);
}

.header-button{
    width: 150px;
    height: 50px;
    background-color: var(--cyan-color);
    border-radius: 50px;
    border: none;
}

.header-button-item{
    margin-left: auto;
}

.header-button:hover{
    border: 1px solid --white-color;
    background-color: grey;
}

.header-button:hover .header-button-text{
    color: var(--white-color);
}

.header-button-text{
    font-style: 14px;
    line-height: 16px;
    color: var(--white-color);
}

.header-title-list{
    display: flex;
}

.header-title-word{
    color: var(--cyan-color);
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: -0.035em;
    padding-top: 190px;
}

.header-title{
    margin-top: 40px;
    font-size: 48px;
    line-height: 53px;
    letter-spacing: -0.035em;
    color: var(--title-color);
}

.header-title-text{
    margin-top: 60px;
    font-weight: bold;
    font-size: 24px;
    line-height: 42px;
    color: var(--title-color);
}

.button-list{
    margin-top: 65px;
    margin-left: 0;
    padding-left: 0;
    display: flex;
}

.first-button{
    background-color: var(--button-color);
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.first-button-text{
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: var(--white-color);
}

.second-button{
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-button-text{
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: var(--button-color);
}


/* Why thrive? */

.why-section{
    background-color: var(--cyan-color);
    height: 605px;

}

.why-list{
    display: flex;
}

.why-title{
    font-weight: bold;
    padding-top: 150px;
    font-size: 36px;
    line-height: 27px;
    letter-spacing: -0.006em;
    color: var(--white-color);
}

.why-text{
    width: 555px;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    color: var(--white-color);
}

.why-mini-text{
    width: 555px;
    font-size: 18px;
    line-height: 35px;
    color: var(--white-color);
}

.why-texts{
    padding-top: 75px;
}

.why-image-item{
    margin-left: auto;
}

.why-image{
    height: 605px;
}

/* About us */

.about-us{
    position: relative;
    top: 166px;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.about-text{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.005em;
    color: var(--title-color);
    width: 650px;
}

.about-under-text{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.06em;
    color: rgba(34, 53, 111, 0.5);
    text-transform: uppercase;
}

.about-list{
    margin-top: 25px;
    display: flex;
}

.about-item{
    width: 360px;
    height: 360px;
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.006em;
    color: var(--white-color);
}

.about-line{
    width: 255px;
    height: 3px;
    background: var(--white-color);
    position: relative;
    top: 72px;
    margin-left: auto;
    margin-right: auto;

}

.about-item-text{
    margin-top: 95px;
    display: flex;
    justify-content: center;
}

.about-list .first{
    background: #FFE2DE;
}

.about-list .second{
    background: #C4E769;
}

.about-list .third{
    background: var(--cyan-color);
}

.about-list .forth{
    background: #0052C1;
}

.about-item-text::before{
    content: '';
    width: 9px;
    height: 9px;
    border-radius: 50px;
    background: orange;
    margin-right: 15px;
}

/* What we develop? */

.develop-section{
    padding-top: 120px;
}

.develop-list{
    display: flex;
    flex-wrap: wrap;
}

.develop-item{
    width: 480px;
    height: 480px;
}
.develop-list .first{
    background-color: var(--title-color);
}

.develop-list .second{
    background-color: #0052C1;
}

.develop-list .third{
    background: url(./images/what-we-develop-photo.png);
}

.develop-list .forth{
    background-color: #62D0DF;
}

.develop-list .fifth{
    background-color: #DEE1FF;
}

.develop-list .sixth{
    background-color: #8F00FF;
}

.develop-line{
    width: 340px;
    height: 3px;
    background-color: var(--white-color);
    position: relative;
    top: 96px;
    margin-left: auto;
    margin-right: auto;
}

.develop-title{
   margin-left: 104px;
   margin-top: 130px;
   font-size: 32px;
   line-height: 34px;
   letter-spacing: -0.006em;
   color: var(--white-color); 
}

.develop-title::before{
    content: 'fff';
    width: 12px;
    height: 12px;
    /* margin-right: 20px; */
    border-radius: 50px;
    background: orange;
}
.course-list{
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
}

.course-item{
    height: 240px;
    width: 480px;

}

.course-title{
    margin-left: 105px;
    font-weight: bold;
    margin-top: 55px;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: -0.03em;
    color: var(--title-color);
}

.course-text{
    margin-left: 105px;
    width: 298px;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.03em;
    color: rgba(34, 53, 111, 0.5);
    margin-top: 30px;
}

/* Also know */

.also-list{
    display: flex;
}

.also-item:not(:first-child){
    margin-left: 106px;
}

.also-over-text{
    margin-top: 103px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 12px;
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.also-title{
    font-weight: bold;
    margin-top: 215px;
    font-size: 36px;
    line-height: 53px;
    letter-spacing: -0.01em;
    color: var(--title-color);
}

.also-under-text{
   text-transform: uppercase;
   font-size: 16px;
   line-height: 23px;
   letter-spacing: 0.1em;
   color: #FAB63E;
   margin-top: 165px;
}

.also-into-text{
    font-weight: bold;
    font-size: 36px;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: var(--cyan-color);
}
